name: CI workflow

on: [ pull_request ]

jobs:
  continuous-integration:
    name: Lint & Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Virtual Environment & Dependencies
        run: make install

      - name: Run Lint
        run: make lint

      - name: Run Tests
        run: make tests