name: Production Deploy AWS

on:
  push:
    branches:
      - main

jobs:
  lint-tests:
    name: Lint & Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Virtual Environment & Dependencies
        run: make install

      - name: Run Lint
        run: make lint

      - name: Run Tests
        run: make tests

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - lint-tests
    strategy:
      matrix:
        python-version: [ "3.10" ]
    permissions:
      id-token: write
      contents: read
    env:
      AWS_DEFAULT_REGION: us-east-1
      AWS_ROLE_ID_NUMBER: ${{ secrets.AWS_ROLE_ID_NUMBER }}
      AWS_ROLE_NAME: ${{ secrets.AWS_ROLE_NAME }}
      ENVIRONMENT: prod

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Configure Aws Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::${{ ENV.AWS_ROLE_ID_NUMBER }}:role/${{ env.AWS_ROLE_NAME }}
          role-session-name: ${{ env.AWS_ROLE_NAME }}-${{env.ENVIRONMENT}}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Install Npm
        run: 'sudo apt update -y && sudo apt install nodejs npm -y'

      - name: Install AWS CDK
        run: 'sudo npm install -g aws-cdk'

      - name: Virtual Environment
        run: make venv

      - name: App dependencies
        run: make app-dependencies

      - name: CDK Diff
        run: |
          cdk diff

      - name: CDK Deploy
        run: |
          cdk --require-approval=never deploy '*'